video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* background: url("../images/img-home.jpg") center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.btns {
  text-transform: uppercase;
}
.hero-btns > a {
  margin: 5px;
}
.hero-container > h1 {
  color: white;
  font-size: calc(3.125rem + (18 * (100vw - 400px) / 624));
  text-transform: uppercase;
}
.hero-container > p {
  color: white;
  font-size: calc(2rem + (18 * (100vw - 400px) / 624));
  margin-bottom: calc(0.7rem + (18 * (100vw - 400px) / 624));
}
.fa-play-circle {
  margin-left: 7px;
}
@media screen and (max-width: 510px) {
  .hero-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h1 > span {
    padding-left: 5vw;
  }
  .hero-container > h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .btn {
    width: 70vw;
  }
}
